

{{count$ | async}}

<form action="" (ngSubmit)="onSubmit()" #searchForm="ngForm">
  <div class="form-group">
    <label for="search">Search</label>
  </div>
  <div class="form-group">
    {{searchTerm | json}}
  <input type="text" id="searterm" name="searterm" minlength="4" [(ngModel)]="searchTerm" #searterm="ngModel" required class="form-control" />
  <div *ngIf="searchForm.invalid && (searchForm.dirty || searchForm.touched) " class="eror-msg">
      <div *ngIf="searterm.errors?.['required']">Name is required.</div>
      <div *ngIf="searterm.errors?.['minlength']">Name must be at least 4 characters long.</div>


  </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>

</form>
